<div class="max-speed pl-1 pr-1">
  <span class="bison-bold speed">
    {{this.maxSpeed}}
  </span>
  <span class="roboto unit">
    kph
  </span>
  <span class="roboto name">
    <br>
    {{this.nameMaxSpeed}}
  </span>
</div>