<div role="button" {{action "viewEvents"}} disabled={{raceOnGoing}}>
  <div class="text-white">
    <svg xmlns="http://www.w3.org/2000/svg" width="2.5vw" height="2.5vw" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.7" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
      <line x1="1" y1="1" x2="23" y2="1"></line>
      <line x1="1" y1="12" x2="23" y2="12"></line>
      <line x1="1" y1="23" x2="23" y2="23"></line>
    </svg>
  </div>
</div>