<div class="container-fluid" >
  {{!-- {{reborn-svg-landing-page}} --}}
  <div class=" bg-blue bg-gradient-primary">
  </div>
  {{!-- <p id="text-sprint">SPRINTS</p> --}}
  {{#link-to "events.index" class="button"}}
    <p id="text-event">my vault</p>
  {{/link-to}}
  {{!-- <RebornLogo @class="svg-content-logo"/> --}}
</div>

{{outlet}}